@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-400px * 2 - 0.25rem * 6));
    }
}

.animate-scroll{
    animation: scroll 13s linear infinite;
}